<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlxd.microcloud.dao.RejectMapper">

    <insert id="batchInsert" parameterType="java.util.ArrayList">
        insert into t_pro_reject
        (id,reject_date,reject_type,reject_reason,equipment_code,remark)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.rejectDate},#{item.rejectType},#{item.rejectReason},
            #{item.machineCode},#{item.remark}
            )
        </foreach>
    </insert>




</mapper>
